# **ARTIFICIAL NEURAL NETWORK**

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/deep-learning-az-ann/Churn_Modelling.csv

**IMPORTING LIBRARIES**

In [2]:
from keras.models import Sequential
from keras.layers import Dense
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler

/opt/conda/lib/python3.10/site-packages/tensorflow_io/python/ops/__init__.py:98: UserWarning: unable to load libtensorflow_io_plugins.so: unable to open file: libtensorflow_io_plugins.so, from paths: ['/opt/conda/lib/python3.10/site-packages/tensorflow_io/python/ops/libtensorflow_io_plugins.so']
caused by: ['/opt/conda/lib/python3.10/site-packages/tensorflow_io/python/ops/libtensorflow_io_plugins.so: undefined symbol: _ZN3tsl6StatusC1EN10tensorflow5error4CodeESt17basic_string_viewIcSt11char_traitsIcEENS_14SourceLocationE']
  warnings.warn(f"unable to load libtensorflow_io_plugins.so: {e}")
/opt/conda/lib/python3.10/site-packages/tensorflow_io/python/ops/__init__.py:104: UserWarning: file system plugins are not loaded: unable to open file: libtensorflow_io.so, from paths: ['/opt/conda/lib/python3.10/site-packages/tensorflow_io/python/ops/libtensorflow_io.so']
caused by: ['/opt/conda/lib/python3.10/site-packages/tensorflow_io/python/ops/libtensorflow_io.so: undefined symbol: _ZTVN10tensorflow13GcsFileSystemE']
  warnings.warn(f"file system plugins are not loaded: {e}")

# READING THE DATASETS

In [3]:
df= pd.read_csv("/kaggle/input/deep-learning-az-ann/Churn_Modelling.csv")
df.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

# DATA PREPROCESSING

In [4]:
from sklearn.preprocessing import LabelEncoder

**USING LABEL ENCODER FOR CONVERTING CATEGORICAL INTO NUMERICAL VALUES**

In [5]:
le=LabelEncoder()
df["Geography"]=le.fit_transform(df["Geography"])
df["Gender"]=le.fit_transform(df["Gender"])

In [6]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,2,0,43,2,125510.82,1,1,1,79084.10,0

# TRAIN TEST SPLIT

In [7]:
from sklearn.model_selection import train_test_split
x=df.iloc[:,3:13]
y=df["Exited"]

In [8]:
x.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10

In [9]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [11]:
x_train.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
1051,625,2,0,49,2,80816.45,1,1,1,20018.79
1804,552,0,1,33,5,140931.57,1,0,1,10921.50
6620,732,0,1,36,5,0.00,2,1,0,161428.25
235,763,1,1,42,6,100160.75,1,1,0,33462.94
3167,637,0,0,48,7,130806.99,2,1,1,132005.85

In [12]:
y_test

5311    0
7548    0
3708    0
3946    0
824     0
       ..
4967    1
8249    0
7255    1
1553    0
2369    1
Name: Exited, Length: 2000, dtype: int64

# SCALER STANDARDIZATION

In [13]:
scaler = MinMaxScaler(feature_range=(0, 1))
rescaledX_train = scaler.fit_transform(x)

# MODEL INITIALIZING

**SEQUENTIAL NEURAL NETWORK ARCHITECHTURE MODEL**

In [14]:
model = Sequential()
model.add(Dense(12, input_dim=10, kernel_initializer='random_uniform', activation='relu'))
model.add(Dense(10, kernel_initializer='random_uniform', activation='relu'))
model.add(Dense(1, kernel_initializer='random_uniform', activation='relu'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# MODEL TRAINING ANN

In [15]:
Model=model.fit(rescaledX_train, y, epochs=100, batch_size=50,  verbose=1)

Epoch 1/100
200/200 [==============================] - 8s 3ms/step - loss: 0.6440 - accuracy: 0.7963
Epoch 2/100
200/200 [==============================] - 1s 3ms/step - loss: 0.4964 - accuracy: 0.7963
Epoch 3/100
200/200 [==============================] - 1s 3ms/step - loss: 0.4761 - accuracy: 0.7963
Epoch 4/100
200/200 [==============================] - 1s 3ms/step - loss: 0.4618 - accuracy: 0.7967
Epoch 5/100
200/200 [==============================] - 1s 3ms/step - loss: 0.4505 - accuracy: 0.7998
Epoch 6/100
200/200 [==============================] - 1s 3ms/step - loss: 0.4415 - accuracy: 0.8047
Epoch 7/100
200/200 [==============================] - 1s 3ms/step - loss: 0.4351 - accuracy: 0.8090
Epoch 8/100
200/200 [==============================] - 1s 3ms/step - loss: 0.4222 - accuracy: 0.8121
Epoch 9/100
200/200 [==============================] - 1s 3ms/step - loss: 0.4004 - accuracy: 0.8247
Epoch 10/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3852 - accuracy: 0.8356
Epoch 11/100
200/200 [==============================] - 1s 4ms/step - loss: 0.3897 - accuracy: 0.8377
Epoch 12/100
200/200 [==============================] - 1s 5ms/step - loss: 0.3770 - accuracy: 0.8395
Epoch 13/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3736 - accuracy: 0.8457
Epoch 14/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3732 - accuracy: 0.8479
Epoch 15/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3723 - accuracy: 0.8500
Epoch 16/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3712 - accuracy: 0.8504
Epoch 17/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3697 - accuracy: 0.8505
Epoch 18/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3694 - accuracy: 0.8510
Epoch 19/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3716 - accuracy: 0.8539
Epoch 20/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3699 - accuracy: 0.8523
Epoch 21/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3782 - accuracy: 0.8473
Epoch 22/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3778 - accuracy: 0.8421
Epoch 23/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3765 - accuracy: 0.8463
Epoch 24/100
200/200 [==============================] - 1s 3ms/step - loss: 0.4003 - accuracy: 0.8248
Epoch 25/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3767 - accuracy: 0.8337
Epoch 26/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3761 - accuracy: 0.8343
Epoch 27/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3719 - accuracy: 0.8390
Epoch 28/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3687 - accuracy: 0.8434
Epoch 29/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3676 - accuracy: 0.8434
Epoch 30/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3667 - accuracy: 0.8450
Epoch 31/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3678 - accuracy: 0.8506
Epoch 32/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3665 - accuracy: 0.8526
Epoch 33/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3650 - accuracy: 0.8521
Epoch 34/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3642 - accuracy: 0.8532
Epoch 35/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3624 - accuracy: 0.8545
Epoch 36/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3617 - accuracy: 0.8527
Epoch 37/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3612 - accuracy: 0.8539
Epoch 38/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3610 - accuracy: 0.8557
Epoch 39/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3635 - accuracy: 0.8516
Epoch 40/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3631 - accuracy: 0.8559
Epoch 41/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3588 - accuracy: 0.8552
Epoch 42/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3578 - accuracy: 0.8561
Epoch 43/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3628 - accuracy: 0.8488
Epoch 44/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3567 - accuracy: 0.8567
Epoch 45/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3545 - accuracy: 0.8579
Epoch 46/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3546 - accuracy: 0.8569
Epoch 47/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3574 - accuracy: 0.8570
Epoch 48/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3565 - accuracy: 0.8560
Epoch 49/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3549 - accuracy: 0.8582
Epoch 50/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3569 - accuracy: 0.8583
Epoch 51/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3553 - accuracy: 0.8577
Epoch 52/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3582 - accuracy: 0.8586
Epoch 53/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3558 - accuracy: 0.8571
Epoch 54/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3864 - accuracy: 0.8470
Epoch 55/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3650 - accuracy: 0.8515
Epoch 56/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3612 - accuracy: 0.8563
Epoch 57/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3535 - accuracy: 0.8572
Epoch 58/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3549 - accuracy: 0.8574
Epoch 59/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3534 - accuracy: 0.8580
Epoch 60/100
200/200 [==============================] - 1s 3ms/step - loss: 0.4365 - accuracy: 0.8372
Epoch 61/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3971 - accuracy: 0.8438
Epoch 62/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3870 - accuracy: 0.8475
Epoch 63/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3790 - accuracy: 0.8486
Epoch 64/100
200/200 [==============================] - 1s 4ms/step - loss: 0.3757 - accuracy: 0.8521
Epoch 65/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3723 - accuracy: 0.8523
Epoch 66/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3715 - accuracy: 0.8516
Epoch 67/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3687 - accuracy: 0.8546
Epoch 68/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3672 - accuracy: 0.8546
Epoch 69/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3663 - accuracy: 0.8533
Epoch 70/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3660 - accuracy: 0.8542
Epoch 71/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3653 - accuracy: 0.8552
Epoch 72/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3635 - accuracy: 0.8551
Epoch 73/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3622 - accuracy: 0.8558
Epoch 74/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3675 - accuracy: 0.8532
Epoch 75/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3662 - accuracy: 0.8550
Epoch 76/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3657 - accuracy: 0.8539
Epoch 77/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3614 - accuracy: 0.8549
Epoch 78/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3617 - accuracy: 0.8569
Epoch 79/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3607 - accuracy: 0.8550
Epoch 80/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3603 - accuracy: 0.8564
Epoch 81/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3595 - accuracy: 0.8585
Epoch 82/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3587 - accuracy: 0.8583
Epoch 83/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3583 - accuracy: 0.8580
Epoch 84/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3583 - accuracy: 0.8577
Epoch 85/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3576 - accuracy: 0.8568
Epoch 86/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3602 - accuracy: 0.8554
Epoch 87/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3726 - accuracy: 0.8494
Epoch 88/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3650 - accuracy: 0.8537
Epoch 89/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3643 - accuracy: 0.8538
Epoch 90/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3585 - accuracy: 0.8558
Epoch 91/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3568 - accuracy: 0.8569
Epoch 92/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3564 - accuracy: 0.8580
Epoch 93/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3541 - accuracy: 0.8576
Epoch 94/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3581 - accuracy: 0.8567
Epoch 95/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3553 - accuracy: 0.8585
Epoch 96/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3517 - accuracy: 0.8593
Epoch 97/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3526 - accuracy: 0.8587
Epoch 98/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3530 - accuracy: 0.8616
Epoch 99/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3530 - accuracy: 0.8594
Epoch 100/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3518 - accuracy: 0.8606

# ACCURACY SCORE

In [16]:
scores = model.evaluate(rescaledX_train, y) 
print("%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))

313/313 [==============================] - 1s 2ms/step - loss: 0.3498 - accuracy: 0.8616
accuracy: 86.16%